version: '3.5'

# Prod config uses journald for logging and the web image corresponding to the current commit

services:
  web:
    # Change the account name here (hardeejj9) to your Docker Hub account name
    image: hardeejj9/hello-web-app:${COMMIT}
    logging:
      driver: journald
